.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  visibility: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s, 0.3s;
  transition-timing-function: ease-out;
}

.popup::before {
  content: "";
  opacity: 0.5;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}
