.popup__close {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: center / contain no-repeat
    url(../../../images/icon-close-form.svg);
  border: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

@media screen and (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
