.card__like {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 22px;
  height: 19px;
  background: url(../../../images/like-white.svg) no-repeat;
  justify-self: right;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
