.popup__button_submit {
  width: 100%;
  min-height: 50px;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .popup__button_submit {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
